<div class="container">
  <div class="row">
      <p class="about-me">
        My name is Caleb Reath, I am a full stack web developer currently working towards my bachelor of Computer Science at the Fredericton University of New-Brunswick.
        <br><br>
      </p>
      <p class="about-me">
        I am in my fourth year in my degree with 16 months of CO-OP experience in web development technologies such as Angular, React, MVC, and KnockoutJS. I am planning on completing my degree by the winter of 2020 with another 8 months of work experience.
        <br><br>
      </p>
      <p class="about-me">
        During my studies at UNB I have maintained a 3.6 GPA while attempting to pursue a Minor in Mathematics as well as familiarizing myself with computer architecture and circuitry. On top of my core curriculum I have taken additional computer science courses pertaining to mobile app development and RESTful web services. These additional courses help me best advance my skills for web development throughout an entire project.
        <br><br>
      </p>
      <p class="about-me">
        Each year I have had the honour of representing UNB at the Science Atlantic programming competitions, The past two years my team had placed first and second in the division allowing us to move forward and compete in the qualifying round with dozens of top universities in coastal United States and Canada.
        <br><br>
      </p>
      <p class="about-me">
        I have several hobbies that I enjoy alot. I have been a private pilot since I began University, I was one of 15 lucky individuals to be chosen for a private pilot scholarship in the Royal Canadian Air Cadet Program. I also enjoy scuba diving and skiing as I am able to spend time with family or friends while exploring new heights or depths. I love learning new programming languages and applying my new skills to have fun and learn. I enjoy tinkering with things, whether it is my PC or electronics and circuits or building simple machines out of toys. 
        <br><br>
      </p>
      <p class="about-me">
        I am always looking for more opportunities to further my experience and expertise in this field and I am always open to learn more skills to help me in the future.
      </p>
  </div>
  <hr>
</div>