<mat-grid-list #Intro [cols]="columnCount" [rowHeight]="rowHeight" (window:resize)="onResize($event)">
    <mat-grid-tile [@fade]="getState(0)" [colspan]="imageColumns" [rowspan]="4" class="fade-item">
        <div #IntroImageContainer class="image-body">
            <img src="./assets/img/Me.png" alt="Avatar">
        </div>
    </mat-grid-tile>
    <mat-grid-tile [@fade]="getState(1)" [colspan]="1" [rowspan]="titleRowSpan" class="fade-item">
        <div class="title-body">
            <b class="name-body">Caleb Reath</b>
            <mat-divider class="name-divider secondary-accent"></mat-divider>
            Bachelor of Computer Science
            <br>
            Full Stack Web Developer
        </div>
    </mat-grid-tile>  
    <mat-grid-tile [@fade]="getState(2)" [colspan]="columnCount" [rowspan]="bodyRowSpan" class="fade-item" style="align-items: baseline !important;">
        <div #IntroBody class="intro-body">
            <p>
                Hello, my name is Caleb. I am a Full-Stack Web Developer currently employed at Tarka Labs, I graduated with my Bachelor of Computer Science from the University of New Brunswick in May 2020. 
            </p>
            <p>
                I have three years total of web development experience with various front-end and back-end technologies. I enjoy working on cutting edge projects because it allows me to expand my development skill set.
            </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>