<mat-grid-list [gutterSize]="10" class="component-body container" #AboutMe [@fade]="state" [cols]="columnCount" rowHeight="400px" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="fade-item">
        <div class="my-image">
            <img src="./assets/img/Me.png" alt="Avatar">
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="fade-item">
        <div style="text-align: center;" class="name-body">
            <b style="font-size: 2rem !important; font-weight: 200; line-height: 2em;">Caleb Reath</b>
            <mat-divider class="name-divider secondary-accent"></mat-divider>
            Bachelor of Computer Science
            <br>
            Full Stack Web Developer
        </div>
    </mat-grid-tile>    
    <mat-grid-tile [colspan]="3" [rowspan]="1" class="fade-item" style="align-items: baseline !important;">
        <p class="about-me-body">
            Hello, my name is Caleb. I am a Full-Stack Web Developer currently employed at Tarka Labs. I am extremely passionate about programming and I often practice problem solving on various online judges. I graduated from the University of New Brunswick in May 2020 on the dean’s list with a Bachelor of Computer Science degree and a Minor in Mathematics. 
        </p>
    </mat-grid-tile>
</mat-grid-list>