<div class="full-height">
    <div class="text">
        Hello, I'm <span class="accent">Caleb Reath</span>
        <br>
        <div *ngIf="isLight">I Am A Fullstack Web Developer</div>
        <div *ngIf="!isLight">I Am A Fucking Alpha</div>
        <br>
        Welcome To My Portfolio
        <div style="height: 300px; width: 300px; margin: auto"> <!-- [@shrink]=shrinkState (@shrink.done)="shrinkDone()" -->
            <div class="animation-container" style="height: inherit; width: 100px; margin: auto; position: absolute; transform: translate(100px) rotateZ(0deg)">
                <div class="animation-group" style="height: 100px; width: 100px; position: absolute;" [@shrink]=shrinkState (@shrink.done)="shrinkDone('red')">
                    <img class="animation-item-1" style="position: absolute; width: 100px; transform: translate(-50px)" src="./assets/img/angular-icon.png">
                </div>
            </div>
            <div class="animation-container" style="height: inherit; width: 100px; margin: auto; position: absolute; transform: translate(100px) rotateZ(120deg)">
                <div class="animation-group" style="height: 100px; width: 100px; position: absolute;" [@shrink]=shrinkState (@shrink.done)="shrinkDone('blue')">
                    <img class="animation-item-2" style="position: absolute; width: 100px; transform: translate(-50px)" src="./assets/img/google-cloud-icon.png">
                </div>
            </div>
            <div class="animation-container" style="height: inherit; width: 100px; margin: auto; position: absolute; transform: translate(100px) rotateZ(240deg)">
                <div class="animation-group" style="height: 100px; width: 100px; position: absolute;" [@shrink]=shrinkState (@shrink.done)="shrinkDone('green')">
                    <img class="animation-item-3" style="position: absolute; width: 100px; transform: translate(-50px)" src="./assets/img/firebase-icon.png"> <!-- [@spin]="spinState" -->
                </div>
            </div>
        </div>
    </div>
</div>