@import '../../../styles.scss';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    margin: auto; 
    height: fit-content; 
    width: fit-content;
    color: white;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 72px;
    text-align: left;
}

.highlight {
    color: red;
}

.center-content {
    display: flex;
    flex-grow: 1;
    padding-bottom: 2%;
}

.bottom-content {
    display: flex;
}

.shrink-container {
    height: 34px; 
    width: 34px; 
    position: absolute; 
}

.icon-container {
    height: 34px; 
    width: 34px; 
    position: absolute; 
}

.angular-icon-container {
    transform: rotateZ(-120deg)
}

.google-cloud-icon-container {
    transform: rotateZ(-240deg)
}

.firebase-icon-container {
    transform: rotateZ(0deg)
}

.letter {
    opacity: 0;
}

.line1 {
    line-height: 100px;
}

.line2 {
    line-height: 55px;
}

.line3 {
    line-height: 35px;
    font-size: 20px;
}

.line4 {
    font-size: 40px;
}

.grey-section-3 {
    height: 0px;
    -webkit-transform: rotate(
    0deg
    );
    -ms-transform: rotate(0deg);
    transform: rotate(
    0deg
    );
}

.diagonal-shape-3 {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    overflow: visible;
    width: 120%;
    height: 500px;
    -webkit-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transform: rotate(-9deg);
    transform-origin: left top;
    border-top: $blood-red 2px solid;
}