<div #Tools [@fade]="state"  class="component-body container" style="height: 100%;">
  <mat-grid-list class="component-body container" cols="4" rowHeight="400px">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="fade-item"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="fade-item"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="fade-item"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="fade-item"></mat-grid-tile>
    </mat-grid-list>
  </div>