<div #Projects [@fade]="state" class="component-body container">
  <div *ngFor="let project of projects, let i = index">
    <mat-card class="project-card">
      <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
        <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <div class="project-img-container">
        <img *ngIf="project.image != ''" mat-card-image class="project-img" src="/assets/img/{{project.image}}" alt="Photo of a Shiba Inu">
        <div *ngIf="project.image == ''" style="display: hidden">
          <div style="height: 100px; width: 100px; margin: auto"> <!-- [@shrink]=shrinkState (@shrink.done)="shrinkDone()" -->
              <div class="animation-container" style="height: inherit; width: 34px; margin: auto; position: absolute; transform: translate(34px) rotateZ(120deg)">
                  <div class="shrink-container" [@shrink]=shrinkState (@shrink.done)="shrinkDone('blue')">
                      <div class="animation-group angular-icon-container icon-container">
                          <img class="animation-item-1" style="position: absolute; width: 34px;" src="./assets/img/angular-icon.png">
                      </div>
                  </div>
              </div>
              <div class="animation-container" style="height: inherit; width: 34px; margin: auto; position: absolute; transform: translate(34px) rotateZ(240deg)">
                  <div class="shrink-container" [@shrink]=shrinkState (@shrink.done)="shrinkDone('blue')">
                      <div class="animation-group google-cloud-icon-container icon-container">
                          <img class="animation-item-2" style="position: absolute; width: 34px;" src="./assets/img/google-cloud-icon.png">
                      </div>
                  </div>
              </div>
              <div class="animation-container" style="height: inherit; width: 34px; margin: auto; position: absolute; transform: translate(34px) rotateZ(0deg)">
                  <div class="shrink-container" [@shrink]=shrinkState (@shrink.done)="shrinkDone('blue')">
                      <div class="animation-group firebase-icon-container icon-container">
                          <img class="animation-item-3" style="position: absolute; width: 34px;" src="./assets/img/firebase-icon.png"> <!-- [@spin]="spinState" -->
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <mat-card-content>
        <p>
          {{ project.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a [href]="project.url" target="_blank">GITHUB</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>