
.contact-me {
    width: 100%;
    background-color: white;
    padding-bottom: 38px;
}

.contact-form {
    width: 50%;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background:rgba(255, 255, 255, 0.75);
    max-width: 1200px;
}

.row {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-top: 48px;
    padding-left: 38px;
    padding-bottom: 38px;
}

.flex-outer, .flex-inner {
list-style-type: none;
padding: 0;
}

.flex-outer {
max-width: 800px;
margin: 0 auto;
}

.flex-outer li, .flex-inner {
display: flex;
flex-wrap: wrap;
align-items: center;
}

.flex-inner {
padding: 0 8px;
justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
margin-bottom: 20px;
}

.flex-outer li label, .flex-outer li p {
padding: 8px;
font-weight: 300;
letter-spacing: .09em;
text-transform: uppercase;
}

.flex-outer > li > label, .flex-outer li p {
flex: 1 0 120px;
max-width: 140px;
}

.flex-outer > li > label + *, .flex-inner {
flex: 1 0 140px;
}

.flex-outer li p {
margin: 0;
}

.flex-outer li input:not([type='checkbox']), .flex-outer li textarea {
padding: 15px;
border-radius: 5px;
margin-right: 15px;
border: none;
}

.flex-outer li button {
margin-left: auto;
padding: 8px 16px;
border: none;
background: #333;
color: #f2f2f2;
text-transform: uppercase;
letter-spacing: .09em;
border-radius: 2px;
margin-right: 15px;
}

.flex-inner li {
width: 100px;
}