mat-toolbar {
    --default-height: 50px;
}

mat-toolbar[color="warn"] {
    top: 0;
    position: relative;
    height: 56px;
    z-index: 10000;
}
.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
    background-color: transparent;
}
.example-container {
    position: relative;
    background-color: transparent;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.side-nav-link {
    position: relative;
    font-family: system-ui;
    font-size: larger;
    font-weight: 600;
    float: right;
    right: 25%;
}

.mat-drawer-inner-container {
    display: flex !important;
}

.mat-drawer-side {
    border-right: none !important;
}

.list-container {
    position: relative;
}

.current-location {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 119px;
    height: 30px;
    border-radius: 7px;
    border: 1px #00000059;
    border-style: solid;
}