<!-- Animations implementation of position: sticky [@header_trigger]="state"-->
<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side" opened class="nav"
        [fixedInViewport]="true" [fixedTopGap]="0"
        [fixedBottomGap]="0" style="display: flex;">
        <div class="header-body">
            <div class="links-body">
                <div class="list-container" style="height: 100%; width: 100%">
                    <!--div class="current-location"></div-->
                    <div id="links" *ngFor="let link of links; let i = index">
                        <div class="link-body">
                            <a id="{{ 'link-' + i }}" class="side-nav-link link" routerLinkActive="active" [@fade]="getState(i)" (click)="scrollTo(i)"><span class="underline" [ngClass]="{'selected': nav == i }">{{ link.title }}</span></a> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>